:root{
    --primary-midnight-green: #014E56;
    --primary-light-caral: #F67E7E;
    --primary-white: #fff;


    --secondary-rapture-blue: #79C8C7;    --secondary-deep-jungle-green: #004047;
    --secondary-sacramento-state-green: #012F34;
    --secondary-dark-green: #002529;

    /* FONT FAMILY */
    --main-font-family: 'Livvic', Arial, Helvetica, sans-serif;
    --main-font-size-1: 1.8rem;
    --main-font-size-2: 1.5rem;
    --main-line-height-1: 1.56;
    --main-line-height-2: 1.67;


    --h1-large-size: 10rem;
    --h1-large-line: 1;

    --h1-small-size: 6.4rem;
    --h1-samll-line: 0.88;


    --h2-size: 4.8rem;
    --h2-line-height: 1;

    --h3-size: 1.8rem;
    --h3-line-height: 1.56;
}

